.image-chip {
  display: inline-block;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
  --chip-translate-y: calc(calc(-1 * var(--chip-padding-y)) - 1.5rem);
  z-index: 1;

  padding-left: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 0.4rem;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: var(--radius);
  background: var(--c-background-design-accent);
  color: #fff;
}

.image-chip:hover {
  background: var(--c-background-design-accent-hover);
}

.image-chip.underline-on-hover:hover {
  text-decoration: underline;
}

.image-chip .content {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 5;
  margin-left: 0.35rem;
}

.image-chip img {
  width: 1.3em !important;
  height: 1.3em !important;
  min-width: 1em !important;
  min-height: 1em !important;
  vertical-align: bottom;
  border-radius: 100px;
}

/* .image-chip .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
} */
