.image-chip-old {
  background-color: red;
  display: inline-flex;
  align-items: center;
  padding: 0.15em 0.15em;
  /* vertical-align: bottom; */
  border-radius: 500px;
}

.image-chip-old img {
  width: 1em;
  height: 1em;
}

/* .image-chip .content {
} */

.image-chip-irl-site {
  display: inline-block;
  position: relative;
  --chip-translate-y: calc(calc(-1 * var(--chip-padding-y)) - 1.5rem);
  z-index: 1;

  padding: 0.3rem 0.5rem;
  border-radius: var(--radius);
  background: #ff3e3e;
}

.image-chip-irl-site .content {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 5;
  margin-left: 0.35rem;
}

.image-chip-irl-site img {
  width: 1em;
  height: 1em;
  vertical-align: auto;
  border-radius: 100px;
}

/* */

.image-chip {
  display: inline-block;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
  --chip-translate-y: calc(calc(-1 * var(--chip-padding-y)) - 1.5rem);
  z-index: 1;

  padding: 0.3rem 0.5rem;
  border-radius: var(--radius);
  background: #ff3e3e;
}

.image-chip .content {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all .3s ease-in-out;
  position: relative;
  z-index: 5;
  margin-left: 0.35rem;
}

.image-chip img {
  width: 1em !important;
  height: 1em !important;
  min-width: 1em !important;
  min-height: 1em !important;
  /* vertical-align: bottom; */
  border-radius: 100px;
}

/* .image-chip .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
} */
