:root {
  --c-text: #423f3f;
  --c-primary: #1967d2;
  --font-family: "Outfit", Roboto, Helvetica, Arial, sans-serif;
  --radius: 28px;
  --radius-small: 4px;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  transition: all 0.17s ease-out;
}

html {
  font-size: 16px;
}

/* html,
body,
#__next {
	width: 100%;
	height: 100%;
} */

body {
  color: var(--c-text);
  background: #fff;
  font-family: "Outfit", Roboto, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 2rem;
}

button {
  font-family: var(--font-family);
  color: var(--c-text);
  background: var(--c-primary);
  border-radius: var(--radius-small);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #3e7fd9;
}

.section-title {
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  font-weight: 600 !important;
  text-align: center;
}

.limited-width-big {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1440px;
}

.limited-width {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1200px;
}

.bg-product {
  background-color: #f7eff5;
}

.bg-product-darker {
  background-color: #dfd2db;
}
